
/* For smaller screens */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .image-grid {
      grid-template-columns: 1fr; /* Switch to a single column layout */
    }
    input{
        width: 100% !important;
       
    }
  }